@import "../../../../styles/variables.scss";

.list {
    transform: translateX(-120%);
  }
  
  .active {
    animation: move-left-to-right 0.5s ease-in-out forwards;
  }
  
  .label {
    font-weight: bold;
  }
  
  
  @keyframes move-left-to-right {
    100% {
      transform: translateX(0);
    }
  }