@import "../../../../../styles/index.scss";

.container {
  width: 50vw;
 

  @include flex(center, center, row);

}


.slider__item {
  width: 100%;
  height: 100%;

  @include flex(center, center, column);

  & .video {
    max-width: 100%;
    height: 300px;
    & iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.album__img{

  @include image__size(100%, 300px)
}

.detail{
  width: 100%;
  height: 10%;

  font-weight: bold;

  @include flex(center, center, column);
}

@include responsive__width($lg){
  .container{
    width: 70vw;
  }
}


